.container{
   display: grid; 
   grid-template-columns: repeat(3,1fr);
   margin:30px  0 0 200px;
   grid-gap:30px;
   cursor: pointer;
   padding:0 80px 0 0;
}

.image_rating{
    display: flex;
    gap:40px
}
.question_container{
    display: flex;
    gap:50px;
}
.rating_views{
    display: flex;
    gap:30px;
}
.popular_company_image{
    border-radius: 20px;
}
.noofreview{
    color:blue;
}

